<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537944404512-77ija790lfvogap3lca6er1pvkl4poah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537944404512-77ija790lfvogap3lca6er1pvkl4poah</string>
	<key>API_KEY</key>
	<string>AIzaSyC3KVM6f27ofHOpL4IJmDCIlc-QOuPC2i0</string>
	<key>GCM_SENDER_ID</key>
	<string>537944404512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solutelabs.scaffold.dev</string>
	<key>PROJECT_ID</key>
	<string>stircrazykids-192ff</string>
	<key>STORAGE_BUCKET</key>
	<string>stircrazykids-192ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537944404512:ios:a55083f1fb45272bef8245</string>
</dict>
</plist>